* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(68, 68, 168);
  --secondary-color: rgb(164, 107, 0);
  --color-white: #fff;
  --color-blue: #17179b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
}

.container {
  margin: 2rem auto;
  max-width: 1170px;
  padding: 0 15px;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--color-white);
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: all 0.25s;
}

button:hover {
  background-color: var(--color-blue);
}

.result {
  margin: 2rem auto;
  font-size: 3rem;
}

.count {
  font-weight: 100;
  text-transform: uppercase;
}

.count span {
  font-weight: 600;
}
